# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment settings
appsettings.Development.json

# IDE-specific files
.vscode/
.idea/
*.code-workspace

# NuGet
packages/
*.nupkg
project.lock.json

#personal exceptions
Guided-project-foreach-if-array-CSharp-main/
Guided-project-foreach-if-array-CSharp-main.zip
